@import "tailwindcss";

textarea::-webkit-scrollbar, .chat-area::-webkit-scrollbar{
  width: 0px;
}

input[type="radio"]{
  display: none;
}
label:has(input[type="radio"]:checked){
  background-color: rgba(255, 255, 255, 0.8);
}
