@import "tailwindcss";

*:disabled{
  cursor: not-allowed;
}

textarea::-webkit-scrollbar, .chat-area::-webkit-scrollbar{
  width: 0px;
}

input[type="radio"]{
  display: none;
}
label:has(input[type="radio"]:checked){
  background-color: rgba(255, 255, 255, 0.8);
}
label:has(input[type="radio"]:disabled){
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.5;
  cursor: not-allowed;
}
